

<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12 login-area">
                <h2>Login</h2>
                <div class="w-75 mx-auto">
                    <input type="text" class="form-control pt-3 m-3" placeholder="Username">
                    <input type="text" class="form-control p-3 m-3" placeholder="Email">
                    <input type="password" class="form-control p-3 m-3" placeholder="Password">
                    <input type="password" class="form-control p-3 m-3" placeholder="Confirm password">
                    <button class="px-2 py-2 m-3 btn-login" type="button">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
