.login-area {
    border: 1px #81c408 solid;
}

.login-area h2{
    text-align: center
}

.login-area .btn-login {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #81c408;
    border-radius: 16px;
    border: none;
}
