@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to fruit shop</h1>
    <a class="btn_admin" asp-area="Admin" asp-controller="Account" asp-action="Login">Go to admin page</a>
</div>
